@tailwind base;
@tailwind components;
@tailwind utilities;

input.input-calendar-picker::-webkit-calendar-picker-indicator {
  display: flex;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
input.input-calendar-picker::-webkit-datetime-edit-fields-wrapper {
  position: absolute;
  top: 0;
  cursor: pointer;
}
